<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059136866702-6cgoo68f7mbgmd9ujc93feaq0qfcrlps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059136866702-6cgoo68f7mbgmd9ujc93feaq0qfcrlps</string>
	<key>API_KEY</key>
	<string>AIzaSyCL7jXJnfpFO-wufR0Pcd5EC-u5gR3IHC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1059136866702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectandmove</string>
	<key>PROJECT_ID</key>
	<string>tis-78f04</string>
	<key>STORAGE_BUCKET</key>
	<string>tis-78f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059136866702:ios:c8fb1d92a513d0a5c5fcdf</string>
</dict>
</plist>